/* min widths */
@media all and (min-width: 400px) {
}

@media all and (min-width: 420px) {
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
  
}

@media all and (min-width: 500px) {
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
  
  .v-footer {
    padding: 9rem 0 2rem;
  }
  .v-footer .v-pre-main-footer {
    top: -180px;
  }
}

@media all and (min-width: 800px) {
  .v-footer {
    padding: 10rem 0 2rem;
  }
  .v-footer .v-pre-main-footer {
    top: -200px;
  }
}

@media all and (min-width: 991px) {
  body {
    overflow: auto;
  }
  #v-dashboard-wrapper .v-main {
    margin-left: var(--offcanvas-width);
  }
  #v-dashboard-wrapper  .v-sidebar-item {
    height: 100% !important;
  }
  #v-dashboard-wrapper .offcanvas {
    transform: none;
    visibility: visible;
    margin-top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
    background-color: transparent;
    padding: 1rem;
  }
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
  .v-contact .contact-container {
    grid-template-columns: 1fr;
    gap: 5.5rem;
  }

  .v-contact .background-element {
    width: 70%;
    right: -20%;
    top: 57%;
    height: 40%;
  }

  .v-contact .form-section {
    padding-right: 0;
  }

  .v-contact .background-box-element {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
  }
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
}

@media all and (max-width: 475px) {
  #v-dashboard-wrapper .v-header .v-header-logo img {
    max-width: 50px;
    width: 100%;
  }
  #v-dashboard-wrapper .v-header .v-header-logo svg {
    --size: 10rem;
  }
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 350px) {
  #v-dashboard-wrapper .v-header .v-header-logo img {
    max-width: 40px;
    width: 100%;
  }
  #v-dashboard-wrapper .v-header .v-header-logo svg {
    --size: 8rem;
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
